# Environment Variables for AI-DeFi Risk Intelligence
PORT=3000
NODE_ENV=development
JWT_SECRET=super_secret_jwt_defi_key_2026
TRONGRID_API_KEY=e53160ed-54c9-47c4-8d34-c80eb0433c70
ETHERSCAN_API_KEY=4TNC63YESA1EHV7N1EGFQX6K51KETRHN6I
